hidden=[".config", ".github", ".gitignore", ".prettierrc", "quick-start", "react-chat"]

run = """
if [ ! -x "$(command -v feathers)" ]; then
  npm i -g @feathersjs/cli
fi

cd feathers-chat-ts
clear
npm run dev
""" # """

compile = """ # Runs before debug too. Lacks custom env vars.
clear
echo Running compile...
if [ ! -d "feathers-chat-ts/node_modules" ]; then
  cd feathers-chat-ts
  npm i
  npm run compile
  npm run migrate
  cd -
fi

# Helper script to deal with lack of CWD support in the Debugger
mkdir -p .config
if [ ! -f "./.config/replit.mjs" ]; then
cat << EOF > ./.config/replit.mjs
// Resolve FEATHERS_DIR path and cd to it
console.log(process.env.NODE_PATH)
if (process.env.FEATHERS_DIR) {
  const p = process.env.FEATHERS_DIR
  const f = new Function('return \\`' + p + '\\`;').call(process.env)
  process.chdir(f)
}
EOF
fi

if [ ! -f "./.config/bashrc" ]; then
cat << EOF > ./.config/bashrc
#!/bin/bash
node --version
EOF
fi

rm tsconfig.json 2> /dev/null || : # Cleanup upstream debris
""" # """


[[hints]]
regex = "Error: listen EADDRINUSE: address already in use"
message = "Try closing all web clients before running from the debugger or the shell."


# Multiple ports
# https://docs.replit.com/programming-ide/configuring-repl#ports
[[ports]]
localPort = 3030
externalPort = 80

[[ports]]
localPort = 9000
externalPort = 9000

[nix]
channel = "stable-22_11"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
EDITOR="replit-git-editor"
npm_config_yes="true"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"
HOSTNAME="0.0.0.0"
NODE_OPTIONS="--max_old_space_size=384"

# Enables Secrets and Repl Auth, without the erratic Replit packagers
[packager]
language = "bash"

# Todo: Currently uses mocha by default, use npm run test instead or Test Runner
# [unitTest]
# language = "nodejs"

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"
syntax = "typescript"
 
  [languages.typescript.languageServer]
  start = [ "typescript-language-server", "--stdio" ]

[debugger]
support = true

  [debugger.interactive]
  transport = "localhost:0"
  startCommand = [ "dap-node" ]

    [debugger.interactive.initializeMessage]
    command = "initialize"
    type = "request"

      [debugger.interactive.initializeMessage.arguments]
      clientID = "replit"
      clientName = "replit.com"
      columnsStartAt1 = true
      linesStartAt1 = true
      locale = "en-us"
      pathFormat = "path"
      supportsInvalidatedEvent = true
      supportsProgressReporting = true
      supportsRunInTerminalRequest = true
      supportsVariablePaging = true
      supportsVariableType = true

    [debugger.interactive.launchMessage]
    command = "launch"
    type = "request"
    
      [debugger.interactive.launchMessage.arguments]
      runtimeArgs = [
        "--import", "./.config/replit.mjs",
        "--loader", "./feathers-chat-ts/node_modules/ts-node/esm/transpile-only.mjs"
      ]
      args = []
      console = "externalTerminal"
      cwd = "."
      environment = []
      pauseForSourceMap = false
      program = "feathers-chat-ts/src/index.ts"
      request = "launch"
      sourceMaps = true
      stopOnEntry = false
      type = "pwa-node"

      [debugger.interactive.launchMessage.arguments.env]
      PORT = 9000
      FEATHERS_DIR = "${this.HOME}/${this.REPL_SLUG}/feathers-chat-ts"

